.header{
    background-size: cover;
    background-position: center;
    background-image: url("castle.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
    width: 99%;
    display: flex;
    margin: 1rem;
    font-family: 'Trade Winds', cursive;
}