.traditions{
    $border-color: rgba(color(black), 1.0);
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 1rem 0;
    align-items: center;
    border: 0 solid $border-color;
    border-left: 2rem solid $border-color;
}

.traditions-title{
    display: flex;
    align-items: center;
    width: 30%;
    height: 20rem;
    margin-left: 5rem;
}

.tt{
    font-family: 'Trade Winds', cursive;
    font-size: 6rem;
}

.photos{
    width: 22vw;
    height: 30vh;
}

.midpic{
    width: 20vw;
}

.middle{
    display: flex;
    margin: 0 0 0 3rem;
}

.top-row{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 2rem 0 2rem 6rem; 
}

.mid-row{
    display: flex;
    justify-content: space-around;
    width: 62%;
}

.bottom-row{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 2rem 2rem 6rem;
}

