$tablet: 600px;
$laptop: 900px;
$desktop: 1100px;

@mixin tablet {
    @media(min-width: #{$tablet}){
      @content;
    }
  }
  
  @mixin laptop {
    @media(min-width: #{$laptop}){
      @content;
    }
  }
  
  @mixin desktop {
    @media(min-width: #{$desktop}){
      @content;
    }
  }