@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap);

body{
    background-color: #fae3d9;
}

.header{
    background-size: cover;
    background-position: center;
    background-image: url("castle.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
    width: 99%;
    display: flex;
    margin: 1rem;
    font-family: 'Trade Winds', cursive;
} 

.title{
    position: absolute;
    top: 35%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-primary{
    color: white;
    font-size: 9rem;
}

.no-animation{
    margin: 10rem;
}

.header-secondary{
    position: relative;
    width: 24rem;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-size: 3rem;
    font-family: 'Noto Serif JP', serif;
}

.typewriter{
    height: calc(100vh - 8em);
    padding: 4rem;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Noto Serif JP', serif;
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
                blinkTestCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color:  rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}

.sightseeing{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #000;
    font-family: 'Trade Winds', cursive;
    background-image: url("blossoms.png");
    background-size: 100vw 100vh;
    flex-direction: column;
}

h1{
    font-size: 4em;
    font-weight: normal;
}

.sightseeing-title{
    display: flex;
}

.sightseeing-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 2.2;
}

.sightseeing-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;   
    width: 100%;
    height: 100%;
    background: #fae3d9;
    animation: a-ltr-after 1.5s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
}

.sightseeing-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: a-ltr-before 4s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
}

.sightseeing-anim span:nth-of-type(1)::before,
.sightseeing-anim span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

.sightseeing-anim span:nth-of-type(2)::before,
.sightseeing-anim span:nth-of-type(2)::after{
    animation-delay: 4s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100);}
    100% {transform: translateX(101%);}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0);}
    100% {transform: translateX(200%);}
}

.sightseeing-anim{
    background-color: white;
    height: 2em;
}

.flip-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-content: center;
    justify-content: center;
}

.kyoto-flip-card{
    display: flex;
    background-color: transparent;
    width: 6%;
    height: 100%;
    perspective: 1000px; 
}

.kyoto-flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d; 
}

.kyoto-flip-card:hover .kyoto-flip-inner {
    transform: rotateY(180deg);
}

.kyoto-flip-front, .kyoto-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.kyoto-flip-front{
    background-color: #bbb;
    color: black;
}

.kyoto-flip-back{
    background-color: dodgerblue;
    color: white;
    transform: translateY(180deg);
}