@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap);
body {
  background-color: #fae3d9;
}

.header {
  background-size: cover;
  background-position: center;
  background-image: url("castle.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  font-family: 'Trade Winds', cursive;
}

.title {
  position: absolute;
  top: 35%;
  left: 32%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-primary {
  color: white;
  font-size: 9rem;
}

.no-animation {
  margin: 10rem;
}

.header-secondary {
  position: relative;
  width: 24rem;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3rem;
  font-family: 'Noto Serif JP', serif;
}

.typewriter {
  height: calc(100vh - 8em);
  padding: 4rem;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Noto Serif JP', serif;
}

.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTestCursor 500ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTestCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.sightseeing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #000;
  font-family: 'Trade Winds', cursive;
}

h1 {
  font-size: 4em;
  font-weight: normal;
}

.sightseeing-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 2.2;
}

.sightseeing-title span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fae3d9;
  -webkit-animation: a-ltr-after 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-after 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.sightseeing-title span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: a-ltr-before 4s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-before 4s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sightseeing-anim span:nth-of-type(1)::before,
.sightseeing-anim span:nth-of-type(1)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.sightseeing-anim span:nth-of-type(2)::before,
.sightseeing-anim span:nth-of-type(2)::after {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

.sightseeing-anim {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */